<div class="hbox hbox-auto-xs hbox-auto-sm" ng-controller="PageMatchController" xmlns="http://www.w3.org/2000/svg">
    <div class="col">
        <div class="wrapper">
            <div class="panel panel-default">
                <div class="panel-body">
                    <toaster-container toaster-options="{'position-class': 'toast-bottom-right', 'close-button':true}"></toaster-container>
                    <div class="row">
                        <div class="col-md-4">
                            <pre class="alert alert-default text-left"><strong>Турнир: </strong> название </pre>
                        </div>
                        <div class="col-md-4">
                            <pre class="alert alert-default text-left"><strong>Матч: </strong> {{ match.meta.matchId }} </pre>
                        </div>
                        <div class="col-md-4">
                            <pre class="alert alert-default text-left"><strong>Статус: </strong> {{ match.status }} </pre>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5 text-center">
                            <div ng-class="{matchwinner: match.contestant1.score > match.contestant2.score}"
                                 class="wrapper h4" style="border-radius: 3px;">
                                <img class="flag" style="padding-right: 10px"
                                     src="/static/assets/img/heroes_icons/{{ match.contestant1.account.flag }}"/>
                                {{ match.contestant1.account.battle_tag }}
                            </div>
                        </div>
                        <div class="col-md-2 h1 text-center">
                            VS <br>
                            <span class="h3">{{ match.contestant1.score + " - " + match.contestant2.score }}</span>
                        </div>
                        <div class="col-md-5 text-center">
                            <div ng-class="{matchwinner: match.contestant2.score > match.contestant1.score}"
                                 class="wrapper h4" style="border-radius: 3px;">
                                {{ match.contestant2.account.battle_tag }}
                                <img class="flag" style="padding-left: 10px"
                                     src="/static/assets/img/heroes_icons/{{ match.contestant2.account.flag }}"/>
                            </div>
                        </div>
                    </div>
                    <div class="row m-t-md">
                        <div class="col-md-8 col-md-offset-2">
                            <div ng-if="isManagerResult" class="panel panel-default">
                                <div class="panel-heading" style="height:50px;">
                                    <div>
                                        <strong>Менеджер результатов</strong>
                                        (режим: {{ match.mode }})
                                        <button class="btn btn-sm btn-icon btn-primary pull-right" ng-click="refresh()"><i class="fa fa-spi fa-refresh" ng-class="refreshclass"></i></button>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <pre class="alert alert-info text-left"><strong>Отправьте результат, ПОСЛЕ окончания всех боев.</strong><br>В случае нарушения правил или отсутствия соперника, выберите опцию ниже.</pre>
                                    <pre ng-if="!isAvailableToSetValue" class="alert alert-warning text-left">Соперник еще не подтвердил результат матча.</pre>
                                    <div ng-if="!miss && !violation && isAvailableToSetValue" class="m-b-sm">
                                        <div class="row">
                                            <div class="col-md-4 text-center">
                                                <span class="h3 m-r-md">{{ "Бой " + (match.current_state) + ": " }}</span>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="btn-group btn-group-justified"
                                                     ng-init="btns.model  =  '-'">
                                                    <label class="btn btn-danger" ng-model="btns.model" btn-radio="'0'"><i
                                                            class="fa fa-check text-active"></i> Поражение</label>
                                                    <label class="btn btn-success" ng-model="btns.model"
                                                           btn-radio="'1'"><i class="fa fa-check text-active"></i>
                                                        Победа</label>
                                                    <label class="btn btn-default" ng-model="btns.model"
                                                           btn-radio="'-'"><i class="fa fa-check text-active"></i>
                                                        Нет итога</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6 text-center">
                                    <span class="checkbox">
                                        <label class="i-checks" popover="Отправьте скриншот с описанием нарушения менеджеру турнира, в противном случае, эта опция не сработает."
                                               popover-trigger="mouseenter">
                                            <input type="checkbox" ng-model="violation" >
                                            <i></i>
                                            Оппонент нарушил правила
                                        </label>
                                    </span>
                                        </div>
                                        <div class="col-md-6 text-center">
                                    <span class="checkbox">
                                        <label class="i-checks" popover="Через 15 мин. оппоненту будет защитан тех. проигрыш."
                                               popover-trigger="mouseenter">
                                            <input type="checkbox" ng-model="miss">
                                            <i></i>
                                            Оппонент отсутствует
                                        </label>
                                    </span>
                                        </div>
                                    </div>
                                    <button class="btn m-b-xs btn-primary pull-right" ng-class="{'disabled': !violation && !miss && btns.model == '-'}" ng-click="sendResult()">Отправить</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col w-lg bg-light lter b-l bg-auto">
        <div class="wrapper">
            <div class="panel b-light clearfix">
                <div class="panel-body">
                    <a href class="thumb pull-left m-r">
                        <img src="static/assets/img/a0.jpg" class="img-circle">
                    </a>

                    <div class="clear">
                        Менеджер турнира:<br>
                        <a href class="text-info">Aleksey Lanbin</a>
                        <small class="block text-muted">Skype: bet_copy</small>
                        <a href class="btn btn-info m-t-xs">Связаться</a>
                    </div>
                </div>
            </div>
            <div class="panel b-a">
                <h4 class="font-thin padder">Чат</h4>
                <ul class="list-group">
                    <li class="list-group-item">
                        <p>Wellcome <a href class="text-info">@Drew Wllon</a> and play this web application template,
                            have fun1 </p>
                        <small class="block text-muted"><i class="fa fa-fw fa-clock-o"></i> 2 minuts ago</small>
                    </li>
                    <li class="list-group-item">
                        <p>Morbi nec <a href class="text-info">@Jonathan George</a> nunc condimentum ipsum dolor sit
                            amet, consectetur</p>
                        <small class="block text-muted"><i class="fa fa-fw fa-clock-o"></i> 1 hour ago</small>
                    </li>
                    <li class="list-group-item">
                        <p><a href class="text-info">@Josh Long</a> Vestibulum ullamcorper sodales nisi nec adipiscing
                            elit. Morbi id neque quam. Aliquam sollicitudin venenatis</p>
                        <small class="block text-muted"><i class="fa fa-fw fa-clock-o"></i> 2 hours ago</small>
                    </li>
                    <li class="list-group-item">
                        <div class="input-group">
                            <input type="text" class="form-control">
                    <span class="input-group-btn">
                    <button class="btn btn-default" type="button">Отправить</button>
                    </span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>