<html>
<body>
{% load i18n %}{% autoescape off %}
    <p><strong>Здравствуйте!</strong></p>
    <p>
        Вы получили это письмо, так как этот e-mail адрес был использован при регистрации на сайте
        <a href="{{ protocol }}://{{ domain }}">{{ site_name }}</a>.<br>
        Игнорируйте данное письмо, если Вы не регестрировались на сайте и больше Вы не получите подобных сообщений.
    </p>
    <p>
        <b>Пожалуйста, пройдите по следующей ссылке для активации аккаунта:</b><br>
        {% block reset_link %}
            {{ protocol }}://{{ domain }}/{{ url }}
        {% endblock %}
    </p>
    <p>
        Спасибо за использование нашего сайта!
    </p>
    <p>С уважением, команда портала {{ site_name }}.</p>
{% endautoescape %}
</body>
</html>